.container {
    height: 45%;
    width: 185px;

    background-color: white;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;

    /* display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 5fr 5fr;
    grid-template-areas: 
    "name cals"
    " card_CRUD"
    ; */
    margin-top: 5px;
    margin-left: 10px; 
}



/* 
.name_container {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    font-size: 5px;
}

.stats_container {
    height: 100%;
    width: 80%;

    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    font-size: 5px;
} */

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left_container {
    height: 95%;
    width: 65%;

    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.food_name {
    height: 100%;
    width: 100%;
    font-size: 14px;
    overflow-wrap: break-word;

    
}

.btn_container {
    height: 30%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.btn {
    height: 100%;
    width: 100%;
}

.right_container {
    height: 100%;
    width: 35%;
    font-size: 5px;

    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.right_smaller_data_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.food_stats {
    font-size: 10px;
}