.container {
    height: 70vh;
    width: 40vw;
    background-color: var(--blue);
}


.dayName_container {
    height: 10%;
    width: 100%;
    background-color: yellow;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title_container {
     display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}