.container {
    height: 30%;
    width: 100%;

    background-color: var(--lightblue);

    margin-top: 10px;
    margin-bottom: 5px;

    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.foods_container {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.btn_container {
    height: 100%;
    width: 10%;

    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;


}
/* .headers_container {
    height: 100%;
    width: 100%;
    background-color: var(--grey);
    display: flex;
    justify-content: space-around;

    align-items: center;
    text-align: center;
}

.headers {
    height: 100%;
    width: 90%;
    background-color: var(--grey);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    font-size: 8px;
} */
