* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    height: 8vh;
    width: 100vw;

    /* background: rgb(137, 255, 137); */
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    color: white;
    font-size: 30px;
}
