.container {
    height: 5%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 5fr 5fr;
    grid-template-areas: 
    "name cals"
    " card_CRUD"
    ; */

    margin-top: 5px;
}


.title_container{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stats {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.stats_container {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.button {
    height: 50%;
    width: 50%;
}

.btn_container {
    height: 100%;
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}





